@media (max-width: 53em) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  /* App layout */
  .movements,
  .summary,
  .operation--close,
  .logout-timer {
    grid-column: 1 / -1;
  }

  .logout-timer {
    justify-self: center;
  }
}

@media (max-width: 38em) {
  /* Header & Login */
  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
    padding: 0;
  }

  .welcome {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    justify-self: right;
  }

  .login {
    grid-column: 1 / 6;
    justify-self: center;
    gap: 2.5rem;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
  }

  /* App layout */
  html {
    font-size: 54%;
  }

  .summary {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
